.card {
  position: relative;

  padding: 40px 22px 20px 20px;

  background-color: #ffffff;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    padding: 50px 30px 30px;
  }

  @media (min-width: $desktop-width) {
    &:nth-of-type(2) {
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    }

    &:hover {
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    }
  }
}

.card__link {
  display: flex;
  flex-direction: column;

  color: #333333;
  text-decoration: none;

  @media (min-width: $desktop-width) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 156px;
      left: 0;
    }

    &:focus {
      outline: none;
    }

    &:focus::before {
      bottom: 0;

      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    }
  }
}

.card__link picture {
  display: flex;
  justify-content: center;
}

.card__img {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.card__title {
  margin-top: 0;
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;

    font-size: 24px;
    line-height: 36px;
  }
}

.card__description {
  margin-top: 0;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.card__description br {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

.card__buy {
  display: flex;
  justify-content: space-between;
}

.card__price {
  position: relative;
  top: 2px;
  right: 2px;

  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}

.card__button {
  padding: 8px 18px 8px 46px;

  color: #ffffff;
  font-family: $main-fonts;
  font-size: 14px;
  line-height: 20px;

  background-color: #7859cf;
  background-image: url("../../img/basket-card.svg");
  background-repeat: no-repeat;
  background-position: 20px 9px;
  border: none;
  border-radius: 4px;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding-left: 48px;
  }

  &:hover {
    background-color: #9070ec;
  }

  &:focus {
    background-color: #9070ec;
    outline: none;
  }

  &:active {
    background-color: #593cac;
  }

  &:disabled {
    background-color: #bdbdbd;
  }
}
