.card {
  padding: 40px 20px 20px;

  background-color: #ffffff;
  border-radius: 4px;

  @media (min-width: $desktop-width) {
    padding: 50px 30px 30px;
  }
}

.card__link {
  display: flex;
  flex-direction: column;

  color: #333333;
  text-decoration: none;
}

.card__link picture {
  display: flex;
  justify-content: center;
}

.card__img {
  margin-bottom: 24px;
}

.card__title {
  margin-top: 0;
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;

    font-size: 24px;
    line-height: 36px;
  }
}

.card__description {
  margin-top: 0;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.card__buy {
  display: flex;
  justify-content: space-between;
}

.card__price {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}

.card__button {
  padding: 8px 20px 8px 46px;

  color: #ffffff;
  font-family: $main-fonts;
  font-size: 14px;
  line-height: 20px;

  background-color: #7859cf;
  background-image: url("../../img/basket-card.svg");
  background-repeat: no-repeat;
  background-position: 20px 8px;
  border: none;
  border-radius: 4px;
}
