.copyright {
  padding: 20px 20px 30px;

  @media (min-width: $tablet-width) {
    padding: 0 7px;
    grid-column: 2/3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
  }
}

.copyright__wrapper {
  margin: 0;
}

.copyright__link {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #bdbdbd;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;

  &:focus {
    outline: none;
  }
}

.copyright__link span:first-of-type {
  margin-right: 3px;
}

.copyright__link:hover span:last-of-type {
  color: #7859cf;
}

.copyright__link:hover svg {
  color: #7859cf;
}

.copyright__link:focus span:last-of-type {
  color: #7859cf;
}

.copyright__link:focus svg {
  color: #7859cf;
}

.copyright__link:active span:last-of-type {
  color: #593cac;
}

.copyright__link:active svg {
  color: #593cac;
}

.copyright__link span:last-of-type {
  margin-right: 4px;
}
