.features {
  padding: 50px 20px 60px;

  @media (min-width: $tablet-width) {
    padding: 60px 20px 100px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 40px 120px;
  }
}

.features__intro {
  margin-top: 0;
  margin-bottom: 4px;

  color: #7859cf;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
}

.features__title {
  margin-top: 0;
  margin-bottom: 36px;

  color: #333333;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;

    font-size: 42px;
    line-height: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.features__list {
  margin: 0;
  padding: 0;

  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
  }
}

.features__item {
  margin-bottom: 32px;
  padding: 66px 0 0;

  background-repeat: no-repeat;
  background-position: 50% 0;

  &--speed {
    background-image: url("../../img/features-speed.svg");
  }

  &--comfort {
    background-image: url("../../img/features-comfort.svg");
  }

  &--energy {
    background-image: url("../../img/features-energy.svg");
  }

  &--eco {
    background-image: url("../../img/features-eco.svg");
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding-top: 0;
    padding-left: 72px;

    background-position: 0 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 76px;
    padding-left: 0;

    background-position: 50% 0;
  }
}

.features__heading {
  margin-top: 0;
  margin-bottom: 4px;

  color: #333333;
  font-size: 18px;
  line-height: 32px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;

    font-size: 24px;
    line-height: 36px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.features__description {
  margin: 0;

  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}
