.header {
  position: relative;

  display: flex;
  height: 60px;
  padding: 12px 0 12px 20px;
  justify-content: space-between;

  color: #333333;

  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    height: 80px;
    padding: 0 20px;
  }
}

.header__logo {
  display: block;
  padding: 22px 0;
}
