.header {
  position: relative;

  display: flex;
  height: 60px;
  padding: 12px 0 12px 20px;
  justify-content: space-between;

  color: #333333;

  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    height: 80px;
    padding: 0 20px;
  }
}

.header__logo {
  display: block;

  @media (min-width: $tablet-width) {
    padding: 22px 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;

    color: #333333;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
  }
}

.header__logo picture {
  @media (min-width: $desktop-width) {
    margin-right: 20px;
  }
}

.header__text {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    width: 126px;
  }
}
