.main-nav {
  display: flex;

  list-style-type: none;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.main-nav__toggle {
  width: 60px;
  height: 60px;
  padding: 0;

  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &:active {
    background-color: #f0ebff;
  }
}

.main-nav--closed .main-nav__toggle {
  background-image: url("../../img/nav-button-open.svg");
}

.main-nav--opened .main-nav__toggle {
  background-image: url("../../img/nav-button-close.svg");
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list {
    display: none;
  }

  .main-nav--opened .site-list {
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 3;

    display: block;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .site-list {
    position: static;
    z-index: 3;

    display: block;
    grid-row: 2/3;
    grid-column: 1/-1;
  }

  .main-nav--nojs .user-list {
    grid-column: 3/4;
  }

  .main-nav--nojs {
    display: grid;
    grid-template-columns: min-content 1fr auto;
  }
}
