.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;

  list-style-type: none;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }
}

.pagination__item {
  margin-right: 20px;

  &:last-of-type {
    margin-right: 0;
  }
}

.pagination__link {
  display: block;
  width: 40px;
  padding: 8px;

  color: #7859cf;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;

  background-color: #ffffff;
  border-radius: 4px;

  &--active {
    color: #333333;
    font-weight: 600;

    background-color: transparent;
  }
}

.pagination__button {
  width: 40px;
  height: 40px;

  background-color: #ffffff;
  border: none;
  border-radius: 4px;

  background-image: url("../../img/pagination-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;

  &--next {
    transform: rotate(180deg);

    @media (min-width: $tablet-width) {
      transform: none;
    }
  }

  @media (min-width: $tablet-width) {
    width: auto;
    height: auto;
    padding: 8px 20px;

    color: #7859cf;
    font-family: $main-fonts;
    font-size: 16px;
    line-height: 24px;

    background-image: none;
  }
}

.pagination__button span {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  @media (min-width: $tablet-width) {
    position: static;

    width: auto;
    height: auto;
    margin: 0;

    clip-path: none;
    clip: auto;
    overflow: auto;
  }
}
