.promo__slide {
  position: relative;

  display: flex;
  height: 656px;
  padding: 20px 20px 60px;
  flex-direction: column;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    @media (min-width: $tablet-width) {
      bottom: 188px;
    }

    @media (min-width: $desktop-width) {
      bottom: 0;
    }
  }

  &--white::before {
    background-color: #f3ebe1;
  }

  &--lavander::before {
    background-color: #eae6fc;
  }

  &--espresso::before {
    background-color: #e5e6e8;
  }

  @media (min-width: $tablet-width) {
    height: auto;
    padding: 60px 20px 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    padding: 30px 80px 84px 105px;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }
}

.promo__slide picture {
  @media (min-width: $tablet-width) {
    order: 3;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: flex-end;
    order: 0;
  }
}

.promo__img {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    width: 476px;
    height: 476px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    height: 600px;
  }
}

.promo__new {
  margin-top: 0;
  margin-bottom: 4px;

  color: #7859cf;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.promo__title {
  margin-top: 0;
  margin-bottom: 10px;

  color: #333333;
  font-size: 36px;
  line-height: 48px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;

    font-size: 56px;
    line-height: 80px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.promo__description {
  margin-top: 0;
  margin-bottom: 20px;

  text-align: center;

  @media (min-width: $tablet-width) {
    width: 608px;

    font-size: 20px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;

    text-align: left;
  }
}

.promo__buy {
  display: flex;
  justify-content: center;

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
  }
}

.promo__prices {
  display: flex;
  margin: 0;
  margin-right: 20px;
  align-items: center;
}

.promo__current-price {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}

.promo__old-price {
  margin-right: 6px;

  color: #7859cf;
  font-size: 16px;
  line-height: 32px;
  text-decoration: line-through;
}

.promo__pagination {
  display: none;

  @media (min-width: $desktop-width) {
    bottom: 60px;

    display: block;


  }
}

.promo__button {
  padding: 8px 20px;

  color: #ffffff;
  font-family: $main-fonts;
  font-size: 16px;
  line-height: 24px;

  background-color: #7859cf;
  border: none;
  border-radius: 4px;
}

.promo__button-control {

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;

    width: 20px;

    background-image: url("../../img/slider-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      bottom: 188px;

      width: 80px;
    }

    @media (min-width: $desktop-width) {
      bottom: 0;
    }
  }

  &--prev::before {
    left: 0;
  }

  &--next::before {
    right: 0;

    transform: rotate(180deg);
  }
}
