.site-list {
  @media (min-width: $tablet-width) {
    display: flex;

    margin-right: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 162px;
  }
}

.site-list__item:first-of-type .site-list__link {
  border-top: 1px solid #f0ebff;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.site-list__link {
  position: relative;

  display: block;
  width: 100vw;
  padding: 20px;

  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #333333;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  background-color: #ffffff;
  border-bottom: 1px solid #f0ebff;

  @media (min-width: $tablet-width) {
   width: auto;
   padding: 32px 20px;

   border: none;
  }

  &:hover, &:focus {
    color: #7859cf;

    outline: none;
  }

  &:active {
    color: #333333;

    background-color: #f0ebff;

    @media (min-width: $tablet-width) {
      color: #7859cf;
    }
  }

  &--active{
    @media (min-width: $tablet-width) {
      color: #7859cf;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;

        height: 2px;

        background-color: #7859cf;
      }

      &:active {
        background-color: #ffffff;
      }
    }
  }
}

