.social {
  display: flex;
  padding: 22px 20px;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid #f0ebff;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-bottom: 30px;

    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    align-items: normal;
    justify-content: normal;
    flex-direction: column;
  }
}

.social__list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.social__item {
  margin-right: 20px;

  &:last-of-type {
    margin-right: 0;
  }
}

.social__logo {
  @media (min-width: $desktop-width) {
    margin-bottom: 50px;

    color: #333333;
    text-decoration: none;
  }
}

.social__logo picture {
  @media (min-width: $desktop-width) {
    display: block;

    margin-bottom: 10px;
  }
}

.social__link {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;

  color: #bdbdbd;

  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;

  &:hover,&:focus {
    color: #7859cf;

    background-color: #f0ebff;
    outline: none;
  }

  &:active {
    color: #7859cf;

    background-color: rgba(120, 89, 207, 0.25);
  }
}

.social__logo-text {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
