.user-list {
  display: flex;
}

.user-list__item {
  @media (min-width: $desktop-width) {
    margin-right: 23px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.user-list__link {
  display: flex;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;

  color: #333333;

  @media (min-width: $tablet-width) {
    height: 80px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    padding: 32px 20px;

    color: #333333;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
  }

  &:hover,&:focus {
    color: #7859cf;

    outline: none;
  }

  &:active {
    color: #333333;

    background-color: #f0ebff;
  }

  @media (min-width: $desktop-width) {
    &:active {
      color: #7859cf;
    }
  }
}

.user-list__text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  @media (min-width: $desktop-width) {
    position: static;

    width: auto;
    height: auto;
    margin: 0;
    margin-left: 8px;

    clip-path: none;
    clip: auto;
    overflow: auto;
  }
}
